Repository Nextdoor/k8s-charts, changes with the owners that CODEOWNERS names for each.
All owners: @Nextdoor/helm-maintainers, @Nextdoor/feed-infra-reviews, @eugenend

CODEOWNERS:

# All chart changes need to be reviewed by a group of Helm Chart Maintainers
*                              @Nextdoor/helm-maintainers
/charts/flink-job/             @Nextdoor/feed-infra-reviews @eugenend
/charts/flink-operator/        @Nextdoor/feed-infra-reviews @eugenend
/charts/flink-operator-crd/    @Nextdoor/feed-infra-reviews @eugenend

[simple-app/stateful-app/daemonset-app]: Enable by default datadog logging for applications
  charts/daemonset-app/Chart.yaml
  charts/daemonset-app/README.md
  charts/daemonset-app/values.yaml
  charts/simple-app/Chart.yaml
  charts/simple-app/README.md
  charts/simple-app/values.yaml
  charts/stateful-app/Chart.yaml
  charts/stateful-app/README.md
  charts/stateful-app/values.yaml
Owners: @Nextdoor/helm-maintainers

WIP: PodAccesstemplate
  charts/simple-app/templates/podaccesstemplate.yaml
  charts/simple-app/values.staging.yaml
  charts/simple-app/values.yaml
Owners: @Nextdoor/helm-maintainers

fix lint issues
  ct.yaml
Owners: @Nextdoor/helm-maintainers

fix lint issues
  contrib/Testing.mk
Owners: @Nextdoor/helm-maintainers

revert
  contrib/Testing.mk
  ct.yaml
Owners: @Nextdoor/helm-maintainers

bump versions
  .github/workflows/ci.yaml
Owners: @Nextdoor/helm-maintainers

[simple-app/stateful-app/daemonset-app]: Enable by default datadog logging for applications (#198)
  .github/workflows/ci.yaml
  charts/daemonset-app/Chart.yaml
  charts/daemonset-app/README.md
  charts/daemonset-app/values.yaml
  charts/simple-app/Chart.yaml
  charts/simple-app/README.md
  charts/simple-app/values.yaml
  charts/stateful-app/Chart.yaml
  charts/stateful-app/README.md
  charts/stateful-app/values.yaml
Owners: @Nextdoor/helm-maintainers

Update index.yaml
  index.yaml
Owners: @Nextdoor/helm-maintainers

[charts/flink-job] Allow specifying nodeSelector for job manager
  charts/flink-job/Chart.yaml
  charts/flink-job/README.md
  charts/flink-job/templates/flinkjobcluster.yaml
Owners: @Nextdoor/feed-infra-reviews, @eugenend

[charts/flink-job] Allow specifying nodeSelector for job manager (#196)
  charts/flink-job/Chart.yaml
  charts/flink-job/README.md
  charts/flink-job/templates/flinkjobcluster.yaml
Owners: @Nextdoor/feed-infra-reviews, @eugenend

Update index.yaml
  index.yaml
Owners: @Nextdoor/helm-maintainers

[charts/flink-job] Increased metrics scraping interval for the flink-job
  charts/flink-job/Chart.yaml
  charts/flink-job/README.md
  charts/flink-job/values.yaml
Owners: @Nextdoor/feed-infra-reviews, @eugenend

[charts/flink-job] Increased metrics scraping interval for the flink-job (#200)
  charts/flink-job/Chart.yaml
  charts/flink-job/README.md
  charts/flink-job/values.yaml
Owners: @Nextdoor/feed-infra-reviews, @eugenend

Update index.yaml
  index.yaml
Owners: @Nextdoor/helm-maintainers

[charts/flink-job] Fixing line break that breaks deployment
  charts/flink-job/Chart.yaml
  charts/flink-job/README.md
  charts/flink-job/templates/flinkjobcluster.yaml
Owners: @Nextdoor/feed-infra-reviews, @eugenend

[charts/flink-job] Fixing line break that breaks deployment (#201)
  charts/flink-job/Chart.yaml
  charts/flink-job/README.md
  charts/flink-job/templates/flinkjobcluster.yaml
Owners: @Nextdoor/feed-infra-reviews, @eugenend

Update index.yaml
  index.yaml
Owners: @Nextdoor/helm-maintainers

[nd-common]: Add the ability to set ports.hostPort
  charts/daemonset-app/Chart.yaml
  charts/daemonset-app/README.md
  charts/nd-common/Chart.yaml
  charts/nd-common/README.md
  charts/nd-common/templates/_ports.yaml
  charts/rollout-app/Chart.yaml
  charts/rollout-app/README.md
  charts/simple-app/Chart.yaml
  charts/simple-app/README.md
  charts/stateful-app/Chart.yaml
  charts/stateful-app/README.md
Owners: @Nextdoor/helm-maintainers

[rollout-app] fix broken comparison
  charts/rollout-app/templates/rollout.yaml
Owners: @Nextdoor/helm-maintainers

[rollout-app] update poddisruptionbudget while im here
  charts/rollout-app/templates/poddisruptionbudget.yaml
Owners: @Nextdoor/helm-maintainers

[nd-common]: Add the ability to set ports.hostPort (#202)
  charts/daemonset-app/Chart.yaml
  charts/daemonset-app/README.md
  charts/nd-common/Chart.yaml
  charts/nd-common/README.md
  charts/nd-common/templates/_ports.yaml
  charts/rollout-app/Chart.yaml
  charts/rollout-app/README.md
  charts/rollout-app/templates/poddisruptionbudget.yaml
  charts/rollout-app/templates/rollout.yaml
  charts/simple-app/Chart.yaml
  charts/simple-app/README.md
  charts/stateful-app/Chart.yaml
  charts/stateful-app/README.md
Owners: @Nextdoor/helm-maintainers

Update index.yaml
  index.yaml
Owners: @Nextdoor/helm-maintainers

[nd-common] Add ability to specify clusterIP for a service
  charts/nd-common/Chart.yaml
  charts/nd-common/README.md
  charts/nd-common/templates/_service.tpl
Owners: @Nextdoor/helm-maintainers

[localkafka]: upgrade to 0.31.1 release and bump versioning strategy to match
  charts/local-kafka/Chart.yaml
  charts/local-kafka/README.md
Owners: @Nextdoor/helm-maintainers

[localkafka]: upgrade to 0.31.1 release and bump versioning strategy to match (#204)
  charts/local-kafka/Chart.yaml
  charts/local-kafka/README.md
Owners: @Nextdoor/helm-maintainers

Update index.yaml
  index.yaml
Owners: @Nextdoor/helm-maintainers

Update makefiles
  Makefile
  charts/flink-job/README.md
  charts/flink-operator-crd/README.md
  charts/flink-operator/README.md
  charts/istio-alerts/README.md
  charts/istio-endpoints/README.md
  charts/local-kafka/README.md
  charts/nd-common/README.md
  charts/prometheus-alerts/README.md
  charts/rollout-app/README.md
  charts/simple-app/README.md
  charts/stateful-app/README.md
  contrib/ChartTesting.mk
  contrib/Docker.mk
  contrib/Helm.mk
  contrib/kind-config.yaml
Owners: @Nextdoor/helm-maintainers, @Nextdoor/feed-infra-reviews, @eugenend

Update helm-docs
  .github/helm-docs.sh
Owners: @Nextdoor/helm-maintainers

Try to update ci flows to be the same version
  .github/workflows/ci.yaml
Owners: @Nextdoor/helm-maintainers

Fix prometheus-alerts broken dependency
  charts/prometheus-alerts/Chart.yaml
  charts/prometheus-alerts/README.md
Owners: @Nextdoor/helm-maintainers

Update makefiles to latest (#205)
  .github/helm-docs.sh
  .github/workflows/ci.yaml
  Makefile
  charts/flink-job/README.md
  charts/flink-operator-crd/README.md
  charts/flink-operator/README.md
  charts/istio-alerts/README.md
  charts/istio-endpoints/README.md
  charts/local-kafka/README.md
  charts/nd-common/README.md
  charts/prometheus-alerts/Chart.yaml
  charts/prometheus-alerts/README.md
  charts/rollout-app/README.md
  charts/simple-app/README.md
  charts/stateful-app/README.md
  contrib/ChartTesting.mk
  contrib/Docker.mk
  contrib/Helm.mk
  contrib/kind-config.yaml
Owners: @Nextdoor/helm-maintainers, @Nextdoor/feed-infra-reviews, @eugenend

Add support for affinity to flink-jobs chart
  charts/flink-job/Chart.yaml
  charts/flink-job/README.md
  charts/flink-job/templates/flinkjobcluster.yaml
  charts/flink-job/values.yaml
Owners: @Nextdoor/feed-infra-reviews, @eugenend

Do not validate maintainers
  ct.yaml
Owners: @Nextdoor/helm-maintainers

Add support for affinity to flink-jobs chart (#206)
  charts/flink-job/Chart.yaml
  charts/flink-job/README.md
  charts/flink-job/templates/flinkjobcluster.yaml
  charts/flink-job/values.yaml
  ct.yaml
Owners: @Nextdoor/feed-infra-reviews, @eugenend, @Nextdoor/helm-maintainers

Update index.yaml
  index.yaml
Owners: @Nextdoor/helm-maintainers

simple-workflow chart
  .github/workflows/ci.yaml
  charts/simple-workflow/.gitignore
  charts/simple-workflow/.helmignore
  charts/simple-workflow/Chart.yaml
  charts/simple-workflow/Makefile
  charts/simple-workflow/README.md
  charts/simple-workflow/README.md.gotmpl
  charts/simple-workflow/ci/ci-values.yaml
  charts/simple-workflow/ci/local-values.yaml
  charts/simple-workflow/templates/kmssecret.yaml
  charts/simple-workflow/templates/roles-and-rolebindings.yaml
  charts/simple-workflow/templates/secret.yaml
  charts/simple-workflow/templates/workflow-pipeline.yaml
  charts/simple-workflow/values.local.yaml
  charts/simple-workflow/values.yaml
Owners: @Nextdoor/helm-maintainers

fix istio alerts latency alarm denominator and group by service name rather than namespace
  charts/istio-alerts/templates/service-prometheusrule.yaml
Owners: @Nextdoor/helm-maintainers

bump version
  charts/istio-alerts/Chart.yaml
  charts/istio-alerts/README.md
Owners: @Nextdoor/helm-maintainers

just fix rollup time
  charts/istio-alerts/Chart.yaml
  charts/istio-alerts/README.md
  charts/istio-alerts/templates/service-prometheusrule.yaml
Owners: @Nextdoor/helm-maintainers

just fix rollup time (#209)
  charts/istio-alerts/Chart.yaml
  charts/istio-alerts/README.md
  charts/istio-alerts/templates/service-prometheusrule.yaml
Owners: @Nextdoor/helm-maintainers
