Repository Nextdoor/k8s-charts, changes with the owners that CODEOWNERS names for each.
All owners: @Nextdoor/helm-maintainers, @Nextdoor/feed-infra-reviews, @eugenend

Update index.yaml
  index.yaml
Owners: @Nextdoor/helm-maintainers

feat(local-kafka): switch to kraft, start faster, allow annotations
  charts/local-kafka/Chart.yaml
  charts/local-kafka/templates/kafka-node-pool.yaml
  charts/local-kafka/templates/kafka.yaml
  charts/local-kafka/values.yaml
Owners: @Nextdoor/helm-maintainers

feat(local-kafka): add podAnnotations
  charts/local-kafka/README.md
  charts/local-kafka/README.md.gotmpl
  charts/local-kafka/ci/default-values.yaml
  charts/local-kafka/ci/local-values.yaml
  charts/local-kafka/templates/kafka-node-pool.yaml
  charts/local-kafka/templates/kafka.yaml
  charts/local-kafka/values.local.yaml
  charts/local-kafka/values.yaml
Owners: @Nextdoor/helm-maintainers

tests
  charts/local-kafka/ci/helm-hook-values.yaml
  charts/local-kafka/values.local.yaml
Owners: @Nextdoor/helm-maintainers

annotations
  charts/local-kafka/README.md
  charts/local-kafka/README.md.gotmpl
  charts/local-kafka/ci/helm-hook-values.yaml
  charts/local-kafka/templates/kafka-node-pool.yaml
  charts/local-kafka/templates/kafka.yaml
  charts/local-kafka/templates/user.yaml
  charts/local-kafka/values.local.yaml
  charts/local-kafka/values.yaml
Owners: @Nextdoor/helm-maintainers

remove_comment
  charts/local-kafka/templates/kafka.yaml
Owners: @Nextdoor/helm-maintainers

Typo
  charts/local-kafka/README.md
  charts/local-kafka/values.yaml
Owners: @Nextdoor/helm-maintainers

feat(local-kafka): switch to kraft, start faster, allow annotations (#355)
  charts/local-kafka/Chart.yaml
  charts/local-kafka/README.md
  charts/local-kafka/README.md.gotmpl
  charts/local-kafka/ci/default-values.yaml
  charts/local-kafka/ci/helm-hook-values.yaml
  charts/local-kafka/ci/local-values.yaml
  charts/local-kafka/templates/kafka-node-pool.yaml
  charts/local-kafka/templates/kafka.yaml
  charts/local-kafka/templates/user.yaml
  charts/local-kafka/values.local.yaml
  charts/local-kafka/values.yaml
Owners: @Nextdoor/helm-maintainers

Update index.yaml
  index.yaml
Owners: @Nextdoor/helm-maintainers

fix: fixing chartname for sub sub chart
  charts/istio-alerts/templates/service-prometheusrule.yaml
Owners: @Nextdoor/helm-maintainers

chore: apply fixes to the chart
  charts/istio-alerts/Chart.yaml
  charts/istio-alerts/README.md
  charts/istio-alerts/templates/_helpers.tpl
  charts/istio-alerts/templates/service-prometheusrule.yaml
  charts/istio-alerts/values.yaml
Owners: @Nextdoor/helm-maintainers

fix(nd-common): support istio-proxy native sidecar (initContainer) preStop override
  charts/daemonset-app/Chart.yaml
  charts/daemonset-app/values.yaml
  charts/nd-common/Chart.yaml
  charts/nd-common/templates/_istio.tpl
  charts/rollout-app/Chart.yaml
  charts/rollout-app/values.yaml
  charts/simple-app/Chart.yaml
  charts/simple-app/values.yaml
  charts/stateful-app/Chart.yaml
  charts/stateful-app/values.yaml
Owners: @Nextdoor/helm-maintainers

run helm_docs
  charts/daemonset-app/README.md
  charts/nd-common/README.md
  charts/rollout-app/README.md
  charts/simple-app/README.md
  charts/stateful-app/README.md
Owners: @Nextdoor/helm-maintainers

Upgrade flink operator to 0.5.3
  charts/flink-operator-crd/Chart.yaml
  charts/flink-operator/Chart.yaml
Owners: @Nextdoor/feed-infra-reviews, @eugenend

chore(prometheus-alerts): update nd-common dep
  charts/prometheus-alerts/Chart.yaml
Owners: @Nextdoor/helm-maintainers

make helm docs
  charts/prometheus-alerts/README.md
Owners: @Nextdoor/helm-maintainers

chore(prometheus-alerts): update nd-common dep (#363)
  charts/prometheus-alerts/Chart.yaml
  charts/prometheus-alerts/README.md
Owners: @Nextdoor/helm-maintainers

Update index.yaml
  index.yaml
Owners: @Nextdoor/helm-maintainers

fix(nd-common): support istio-proxy native sidecar (initContainer) preStop override
  charts/daemonset-app/Chart.yaml
  charts/daemonset-app/values.yaml
  charts/nd-common/Chart.yaml
  charts/nd-common/templates/_istio.tpl
  charts/rollout-app/Chart.yaml
  charts/rollout-app/values.yaml
  charts/simple-app/Chart.yaml
  charts/simple-app/values.yaml
  charts/stateful-app/Chart.yaml
  charts/stateful-app/values.yaml
Owners: @Nextdoor/helm-maintainers

run helm_docs
  charts/daemonset-app/README.md
  charts/nd-common/README.md
  charts/rollout-app/README.md
  charts/simple-app/README.md
  charts/stateful-app/README.md
Owners: @Nextdoor/helm-maintainers

use clearer naming about intention
  charts/daemonset-app/values.yaml
  charts/nd-common/templates/_istio.tpl
  charts/rollout-app/values.yaml
  charts/simple-app/values.yaml
  charts/stateful-app/values.yaml
Owners: @Nextdoor/helm-maintainers

run helm_docs
  charts/daemonset-app/README.md
  charts/rollout-app/README.md
  charts/simple-app/README.md
  charts/stateful-app/README.md
Owners: @Nextdoor/helm-maintainers

update stateful-app as well
  charts/stateful-app/README.md
  charts/stateful-app/values.yaml
Owners: @Nextdoor/helm-maintainers

Support nativeSidecar pod annotation
  charts/daemonset-app/values.yaml
  charts/nd-common/templates/_istio.tpl
  charts/rollout-app/values.yaml
  charts/simple-app/values.yaml
  charts/stateful-app/values.yaml
Owners: @Nextdoor/helm-maintainers

run helm_docs
  charts/daemonset-app/README.md
  charts/rollout-app/README.md
  charts/simple-app/README.md
  charts/stateful-app/README.md
Owners: @Nextdoor/helm-maintainers

fix(nd-common): support istio-proxy native sidecar (initContainer) preStop override (#361)
  charts/daemonset-app/Chart.yaml
  charts/daemonset-app/README.md
  charts/daemonset-app/values.yaml
  charts/nd-common/Chart.yaml
  charts/nd-common/README.md
  charts/nd-common/templates/_istio.tpl
  charts/rollout-app/Chart.yaml
  charts/rollout-app/README.md
  charts/rollout-app/values.yaml
  charts/simple-app/Chart.yaml
  charts/simple-app/README.md
  charts/simple-app/values.yaml
  charts/stateful-app/Chart.yaml
  charts/stateful-app/README.md
  charts/stateful-app/values.yaml
Owners: @Nextdoor/helm-maintainers

Update index.yaml
  index.yaml
Owners: @Nextdoor/helm-maintainers

fix(nd-common): render cleanly in edge-case where istio.nativeSidecars map does not exist
  charts/nd-common/templates/_istio.tpl
Owners: @Nextdoor/helm-maintainers

bump version
  charts/nd-common/Chart.yaml
  charts/nd-common/README.md
Owners: @Nextdoor/helm-maintainers

fix(nd-common): render cleanly on sub-charting edge-case where map does not exist (#372)
  charts/nd-common/Chart.yaml
  charts/nd-common/README.md
  charts/nd-common/templates/_istio.tpl
Owners: @Nextdoor/helm-maintainers

Update index.yaml
  index.yaml
Owners: @Nextdoor/helm-maintainers

chore(ci): Update chart releaser and bump for release
  .github/workflows/release.yaml
  charts/simple-app/values.local.yaml
Owners: @Nextdoor/helm-maintainers

chore(ci): Update chart releaser and bump for release (#377)
  .github/workflows/release.yaml
  charts/simple-app/values.local.yaml
Owners: @Nextdoor/helm-maintainers

Revert "chore(ci): Update chart releaser and bump for release (#377)"
  .github/workflows/release.yaml
  charts/simple-app/values.local.yaml
Owners: @Nextdoor/helm-maintainers

chore(ci): Revert Update chart releaser and bump for release (#378)
  .github/workflows/release.yaml
  charts/simple-app/values.local.yaml
Owners: @Nextdoor/helm-maintainers

fix(ci): Repoint to local charts to build new helm index
  charts/flink-operator/Chart.yaml
  charts/flink-operator/README.md
  charts/rollout-app/Chart.yaml
  charts/rollout-app/README.md
  charts/simple-app/Chart.yaml
  charts/simple-app/README.md
  charts/stateful-app/Chart.yaml
  charts/stateful-app/README.md
  ct.yaml
Owners: @Nextdoor/feed-infra-reviews, @eugenend, @Nextdoor/helm-maintainers

bump charts
  charts/daemonset-app/Chart.yaml
  charts/datadog-monitors/Chart.yaml
  charts/flink-operator/Chart.yaml
  charts/prometheus-alerts/Chart.yaml
  charts/rollout-app/Chart.yaml
  charts/simple-app/Chart.yaml
  charts/stateful-app/Chart.yaml
Owners: @Nextdoor/helm-maintainers, @Nextdoor/feed-infra-reviews, @eugenend

remove dupe bump
  charts/rollout-app/Chart.yaml
  charts/simple-app/Chart.yaml
  charts/stateful-app/Chart.yaml
Owners: @Nextdoor/helm-maintainers

update readmes
  charts/daemonset-app/README.md
  charts/datadog-monitors/Makefile
  charts/datadog-monitors/README.md
  charts/flink-operator/README.md
  charts/prometheus-alerts/README.md
  charts/rollout-app/README.md
  charts/simple-app/README.md
  charts/stateful-app/README.md
Owners: @Nextdoor/helm-maintainers, @Nextdoor/feed-infra-reviews, @eugenend

lint
  charts/flink-operator/Chart.yaml
  charts/rollout-app/Chart.yaml
  charts/simple-app/Chart.yaml
  charts/stateful-app/Chart.yaml
Owners: @Nextdoor/feed-infra-reviews, @eugenend, @Nextdoor/helm-maintainers

CODEOWNERS:

# All chart changes need to be reviewed by a group of Helm Chart Maintainers
*                              @Nextdoor/helm-maintainers
/charts/flink-job/             @Nextdoor/feed-infra-reviews @eugenend
/charts/flink-operator/        @Nextdoor/feed-infra-reviews @eugenend
/charts/flink-operator-crd/    @Nextdoor/feed-infra-reviews @eugenend
