Repository Nextdoor/k8s-charts, changes with the owners that CODEOWNERS names for each.
All owners: @Nextdoor/helm-maintainers, @Nextdoor/feed-infra-reviews, @eugenend

fix(ci): Repoint to local charts to build new helm index (#379)
  charts/daemonset-app/Chart.yaml
  charts/daemonset-app/README.md
  charts/datadog-monitors/Chart.yaml
  charts/datadog-monitors/Makefile
  charts/datadog-monitors/README.md
  charts/flink-operator/Chart.yaml
  charts/flink-operator/README.md
  charts/prometheus-alerts/Chart.yaml
  charts/prometheus-alerts/README.md
  charts/rollout-app/Chart.yaml
  charts/rollout-app/README.md
  charts/simple-app/Chart.yaml
  charts/simple-app/README.md
  charts/stateful-app/Chart.yaml
  charts/stateful-app/README.md
  ct.yaml
Owners: @Nextdoor/helm-maintainers, @Nextdoor/feed-infra-reviews, @eugenend

Update index.yaml
  index.yaml
Owners: @Nextdoor/helm-maintainers

Ref: https://docs.github.com/en/organizations/managing-organization-settings/managing-the-publication-of-github-pages-sites-for-your-organization
  .nojekyll
Owners: @Nextdoor/helm-maintainers

Revert "Update index.yaml"
  index.yaml
Owners: @Nextdoor/helm-maintainers

fix(ci): Point charts back to k8s-charts repo index
  charts/flink-operator/Chart.yaml
  charts/flink-operator/README.md
  charts/rollout-app/Chart.yaml
  charts/rollout-app/README.md
  charts/simple-app/Chart.yaml
  charts/simple-app/README.md
  charts/stateful-app/Chart.yaml
  charts/stateful-app/README.md
  ct.yaml
Owners: @Nextdoor/feed-infra-reviews, @eugenend, @Nextdoor/helm-maintainers

fix(ci): Point charts back to k8s-charts repo index (#380)
  charts/flink-operator/Chart.yaml
  charts/flink-operator/README.md
  charts/rollout-app/Chart.yaml
  charts/rollout-app/README.md
  charts/simple-app/Chart.yaml
  charts/simple-app/README.md
  charts/stateful-app/Chart.yaml
  charts/stateful-app/README.md
  ct.yaml
Owners: @Nextdoor/feed-infra-reviews, @eugenend, @Nextdoor/helm-maintainers

Update index.yaml
  index.yaml
Owners: @Nextdoor/helm-maintainers

chore(ci): Upgrade chart-releaser to v1.7.0
  .github/workflows/release.yaml
Owners: @Nextdoor/helm-maintainers

chore(ci): Upgrade chart-releaser to v1.7.0 (#381)
  .github/workflows/release.yaml
Owners: @Nextdoor/helm-maintainers

fix(nd-common): Use fullname for consistencey
  charts/nd-common/README.md.gotmpl
  charts/nd-common/templates/_common.tpl
  charts/nd-common/templates/_monitors.tpl
Owners: @Nextdoor/helm-maintainers

update chart version
  charts/nd-common/Chart.yaml
  charts/nd-common/README.md
Owners: @Nextdoor/helm-maintainers

chore(ci): Install renovate
  renovate.json5
Owners: @Nextdoor/helm-maintainers

feat: integrated capabilities for multiple zones into charts/rollout-app
  charts/rollout-app/Chart.yaml
  charts/rollout-app/README.md
  charts/rollout-app/templates/hpa.yaml
  charts/rollout-app/templates/poddisruptionbudget.yaml
  charts/rollout-app/templates/rollout.yaml
  charts/rollout-app/templates/services.yaml
  charts/rollout-app/values.yaml
Owners: @Nextdoor/helm-maintainers

feat: integrated capabilities for multiple zones into charts/rollout-app
  charts/rollout-app/Chart.yaml
  charts/rollout-app/README.md
  charts/rollout-app/templates/hpa.yaml
  charts/rollout-app/templates/poddisruptionbudget.yaml
  charts/rollout-app/templates/rollout.yaml
  charts/rollout-app/templates/services.yaml
  charts/rollout-app/values.local.yaml
  charts/rollout-app/values.yaml
Owners: @Nextdoor/helm-maintainers

fix(rollout-app): handled VirtualService logic with multiple zones
  charts/rollout-app/README.md
  charts/rollout-app/templates/hpa.yaml
  charts/rollout-app/templates/poddisruptionbudget.yaml
  charts/rollout-app/templates/rollout.yaml
  charts/rollout-app/templates/services.yaml
  charts/rollout-app/values.yaml
Owners: @Nextdoor/helm-maintainers

feat: integrated capabilities for multiple zones into charts/rollout-app (#384)
  charts/rollout-app/Chart.yaml
  charts/rollout-app/README.md
  charts/rollout-app/templates/hpa.yaml
  charts/rollout-app/templates/poddisruptionbudget.yaml
  charts/rollout-app/templates/rollout.yaml
  charts/rollout-app/templates/services.yaml
  charts/rollout-app/values.local.yaml
  charts/rollout-app/values.yaml
Owners: @Nextdoor/helm-maintainers

Update index.yaml
  index.yaml
Owners: @Nextdoor/helm-maintainers

chore(charts/rollout-app): support dynamicStableScale option in canary
  charts/rollout-app/Chart.yaml
  charts/rollout-app/templates/rollout.yaml
  charts/rollout-app/values.yaml
Owners: @Nextdoor/helm-maintainers

add abortScaleDownDelaySeconds
  charts/rollout-app/templates/rollout.yaml
  charts/rollout-app/values.yaml
Owners: @Nextdoor/helm-maintainers

update readme
  charts/rollout-app/README.md
  charts/rollout-app/README.md.gotmpl
Owners: @Nextdoor/helm-maintainers

remove trailing whitespace
  charts/rollout-app/README.md
  charts/rollout-app/values.yaml
Owners: @Nextdoor/helm-maintainers

chore(charts/rollout-app): support dynamicStableScale option in canary (#386)
  charts/rollout-app/Chart.yaml
  charts/rollout-app/README.md
  charts/rollout-app/README.md.gotmpl
  charts/rollout-app/templates/rollout.yaml
  charts/rollout-app/values.yaml
Owners: @Nextdoor/helm-maintainers

Update index.yaml
  index.yaml
Owners: @Nextdoor/helm-maintainers

feat(simple-app): added rollouts (argo-rollouts) to simple-app
  charts/simple-app/Chart.yaml
  charts/simple-app/README.md
Owners: @Nextdoor/helm-maintainers

fix(charts/rollout-app): use correct virtualservice name for canary istio trafficrouting
  charts/rollout-app/Chart.yaml
  charts/rollout-app/README.md
  charts/rollout-app/templates/rollout.yaml
Owners: @Nextdoor/helm-maintainers

fix(charts/rollout-app): use correct virtualservice name for canary istio trafficrouting (#390)
  charts/rollout-app/Chart.yaml
  charts/rollout-app/README.md
  charts/rollout-app/templates/rollout.yaml
Owners: @Nextdoor/helm-maintainers

Update index.yaml
  index.yaml
Owners: @Nextdoor/helm-maintainers

fix(charts/simple-app): Disambiguate node selectors for transition deployments and per az
  charts/simple-app/templates/deployment.yaml
Owners: @Nextdoor/helm-maintainers

bump version
  charts/simple-app/Chart.yaml
  charts/simple-app/README.md
Owners: @Nextdoor/helm-maintainers

add $
  charts/simple-app/templates/deployment.yaml
Owners: @Nextdoor/helm-maintainers

fix(charts/simple-app): Disambiguate node selectors for transition deployments and per az (#391)
  charts/simple-app/Chart.yaml
  charts/simple-app/README.md
  charts/simple-app/templates/deployment.yaml
Owners: @Nextdoor/helm-maintainers

Update index.yaml
  index.yaml
Owners: @Nextdoor/helm-maintainers

fix(charts/simple-app): use printf instead of explicit string for transition
  charts/simple-app/Chart.yaml
  charts/simple-app/README.md
  charts/simple-app/templates/deployment.yaml
Owners: @Nextdoor/helm-maintainers

fix(charts/simple-app): use printf instead of explicit string for transition (#392)
  charts/simple-app/Chart.yaml
  charts/simple-app/README.md
  charts/simple-app/templates/deployment.yaml
Owners: @Nextdoor/helm-maintainers

Update index.yaml
  index.yaml
Owners: @Nextdoor/helm-maintainers

fix(charts/simple-app): fix bug in make template for transition
  charts/simple-app/Chart.yaml
  charts/simple-app/README.md
  charts/simple-app/templates/deployment.yaml
Owners: @Nextdoor/helm-maintainers

fix(charts/simple-app): fix bug in make template for transition (#395)
  charts/simple-app/Chart.yaml
  charts/simple-app/README.md
  charts/simple-app/templates/deployment.yaml
Owners: @Nextdoor/helm-maintainers

Update index.yaml
  index.yaml
Owners: @Nextdoor/helm-maintainers

bump version
  charts/nd-common/Chart.yaml
Owners: @Nextdoor/helm-maintainers

bump versions
  charts/daemonset-app/Chart.yaml
  charts/datadog-monitors/Chart.yaml
  charts/prometheus-alerts/Chart.yaml
  charts/rollout-app/Chart.yaml
  charts/simple-app/Chart.yaml
  charts/stateful-app/Chart.yaml
Owners: @Nextdoor/helm-maintainers

CODEOWNERS:

# All chart changes need to be reviewed by a group of Helm Chart Maintainers
*                              @Nextdoor/helm-maintainers
/charts/flink-job/             @Nextdoor/feed-infra-reviews @eugenend
/charts/flink-operator/        @Nextdoor/feed-infra-reviews @eugenend
/charts/flink-operator-crd/    @Nextdoor/feed-infra-reviews @eugenend
